<% layout("/layout/boilerplate") %>

<div class="row mt-4">
    <h2 class="col-6 offset-3 mb-5">SignUp On Wanderlust</h2>
    <div class="col-6 offset">
        <form action="/signup" method="POST" class="needs-validation mb-5" novalidate>
            <div class="mb-3">
            <lable for="username" class="form-lable">Username</lable>
            <input name="username" placeholder="username" type="text" class="form-control" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">enter username here</div>
          </div>
          <div class="mb-3">
            <lable for="email" class="form-lable">Email</lable>
            <input name="email" placeholder="email" type="email" class="form-control" required />
            <div class="invalid-feedback">enter valid email</div>
          </div>
          <div class="mb-3">
            <lable for="password" class="form-lable">Password</lable>
            <input name="password" placeholder="password" type="password" class="form-control" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">enter uniqe username</div>
          </div>
          <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>